.page-container {
    width: 1058px;
    height: 718px;
    padding: 48px 154px 0;
    margin: 0 auto;
    font-family: sans-serif;
    background-image: url("../images/background.png");
    color: #fff;
}

/* end of page-container */

.header {
    height: 45px;
}

.logo-image {
    float: left;
}

.logo-text {
    float: left;
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}

.logo:link, .card-link:link, .card-details:link {
    text-decoration: none;
}

.logo:visited, .card-link:visited, .card-details:visited {
    color: #fff;
}

.logo:hover, .card-container:hover {
    color:#f26522;   
}

.offset-down {
    font-size: 13px;
    clear: left;
    padding-top: 10px; 
}

.email, .number {
    font-size: 14px;
    float: right;
    padding-top: 8px;
}

.number {
    clear: right;
}

/* end of header */

.grid {
    margin: 22.5px -32px;
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.card-container {
    width: 312px;
    height: 253px;
    margin: 22.5px 31px;
    float: left;
    position: relative;
    font-size: 0;
}
 
.card-image {
    width: 308px;
    border: 2px solid transparent;
    border-image: linear-gradient(#fff, transparent);  
    border-image-slice: 1;     
} 

.card-caption {
    text-align: center;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
}

.card-pop-up {
    display: none;
    position: absolute;
    bottom: 48px;
    height: 23px;
    padding: 20px;
    width: 272px;
    background-color: #f26522;
}

.card-container:hover .card-pop-up {
    display: block;
    transition: .5s linear;
}

.card-price {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 8px;
}

.price-offset-down {
    position: absolute;
    top: 8px;
    font-size: 15px;
}

.card-details {
    float: right;
    display: block;
    padding-top: 9px;
    font-size: 11px;
    width: 80px;
    position: relative;
}

.card-details::after {
    content: '';
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(-45deg);
    position: absolute;
    right: 0px;
    top: 50%;
}

/* end of grid */

.footer {
    text-align: center;
    font-size: 12px;

}

/* end of footer */


